<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Raft</title>
		<!-- Styles -->
		<link href="{{url_for('static',filename='css/bv4.min.css')}}" rel="stylesheet">
		<link href= "{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
		<!-- Scripts -->
	</head>
	<body>
		<div id="app">
			<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-primary">
				<div class="container">					
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand" href="../index.html">
						Raft Test Sistem Terdistribusi
					</a>
					<!-- layouts.nav -->
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="nav navbar-nav mr-auto">
						</ul>
						<ul class="nav navbar-nav">
					</div>
				</div>
			</nav>
			<div id="content" class="container">
<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="card my-4">
			<form action="" method="POST" class="card-block">
                <legend>{{ nilai }} {{ aksi }} {{ alamat }}</legend>
				<legend>Masukkan Data</legend>
				<div class="form-group">
					<input type="text" class="form-control" name="inputan" id="search-ssn" value="" onkeyup="special_caracter(this);" required>
				</div>
				<div class="form-group">
<!-- 					<button type="reset" class="btn btn-default">Cancel</button> -->
					<button type="submit" class="btn btn-primary">OK</button>
				</div>
			</form>
		</div>
			</div>
</div>
			</div>
			<footer class="bd-footer text-muted">
			</footer>
		</div>
		<script src="{{url_for('static',filename='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')}}"></script>
		<script src="{{url_for('static',filename='cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/main.js')}}"></script>
	</body>
</html>